.select--btn{
    background-color: rgb(19, 179, 128);
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 100%;
    box-sizing: border-box;
    border: none;
}
.select--btn:hover{
    background-color: rgb(7, 109, 77);
}
